body, html {
	background-color: #605a52;
}


#header {
	font-family: 'Rubik Mono One', sans-serif;
	color: #c3bee8;
	font-size: 60px;
}

input[type=text] {
	height: 30px;
	border-radius: 5px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c3bee8;;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #b2aea7;
}

.button:hover {background-color: #6945bc}

.button:active {
  background-color: #6945bc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.films {
	background-color: #c0c0c4;
	width: 60%;
	border-radius: 10px;
	padding: 10px;
	color: #3e3e87;
	font-family: 'Fjalla One', sans-serif;
	text-decoration: none;
	margin: 20px;

}

.films a {
    color: #3e3e87;
    text-decoration: none;
}